<div class="col s12 m6 l4">
	<div class="panel white-bg">
		<h1>{{post.title}}</h1>
		<img src="{{post.thumbnail}}" style="width: 100%; height: auto" />
		<p>{{ post.excerpt }}</p>
		<a href="{{post.url}}" class="blue">Leer mas</a>
	</div>
</div>

<!--<div class="col s12 m6 l4">
    <div class="card hoverable grey darken-3">
        <div class="card-content">
            {% for category in post.categories %}
                <span class="badge">{{category}}</span>
            {% endfor %}
            <h2>
                <a href="{{post.url}}">{{post.title}}</a>
            </h2>
            <p>{{ post.excerpt }}</p>
        </div>
    </div>
</div>-->
