<footer class="teal-bg white flex">
	<div class="block container">
		<div class="flex justify-space-between">
			<div class="s12 m8">
				<h3>Notas de Ajedrez</h3>
				<p>
					Blog creado para jugadores casuales o principiantes que
					deseen mejorar sus habilidades ajedrecísticas, desarrollado
					y escrito por Deybis Antonio Melendez Vargas.
				</p>
			</div>
			<div class="s12 m4 flex">
				<h3 class="s12">Enlaces</h3>
				<a href="/chessclock" class="white s12">ChessClock</a>
			</div>
		</div>
		<p>
			Copyright © 2023 Notas de Ajedrez, todos los derechos reservados.
			<a
				href="https://github.com/NotasDeAjedrez/notasdeajedrez.github.io/"
				class="white"
				>Github</a
			>
		</p>
	</div>
</footer>
