<footer class="page-footer grey darken-3 blue-grey-text text-lighten-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5>Notas de Ajedrez</h5>
                <p>Blog creado para jugadores casuales o principiantes que deseen mejorar sus habilidades ajedrecísticas, desarrollado y escrito por Deybis Antonio Melendez Vargas.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5>Enlaces</h5>
                <ul>
                    <li><a href="/aperturas.html">Aperturas</a></li>
                    <li><a href="/mediojuego.html">Mediojuego</a></li>
                    <li><a href="/tacticas.html">Tácticas</a></li>
                    <li><a href="/finales.html">Finales</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>Copyright © 2023 Notas de Ajedrez, todos los derechos reservados.</p>
        <a class="right" href="https://github.com/NotasDeAjedrez/notasdeajedrez.github.io/">Github</a>
    </div>
</footer>