body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #26a69a;
    font-weight: bolder;
}

p {
    font-size: 16px;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 20px;
}

article > ul > li {
    list-style-type: "- "!important;
    list-style-position: inside!important;
}
article > p > a {
    text-decoration: underline;
}

article > b, strong {
    font-weight: bold!important;
    color: #26a69a;
}

a {
    color: #80cbc4!important;
}

a:hover {
    color: #b2dfdb!important;
}

chess-board {
    --dark-color: #455a64;
    --light-color: #90a4ae;
    display: block;
    width: 50vmin;
    height: 50vmin;
    margin: 0 auto;
}
figcaption {
    font: italic smaller sans-serif;
    text-align: center;
    padding: 5px;
}

table,th,td {
    border: 1px solid #b0bec5;
}
th {
    background-color: #424242;
    color: #b0bec5;
}