<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://cdn.jsdelivr.net/gh/DeybisMelendez/Jelly/jelly.min.css"
			rel="stylesheet"
			type="text/css"
		/>
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
		<script
			type="module"
			src="https://unpkg.com/chessboard-element/bundled/chessboard-element.bundled.js"
		></script>
		<!--<link rel="stylesheet" href="/assets/css/index.css" />-->
		{% feed_meta %} {% seo %}
	</head>

	<body style="background-color: #ddd">
		{% include navbar.html %} {{ content }} {% include footer.html %}
	</body>
</html>
